* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#map {
  width: 400px;
  height: 400px;
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
